<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">
</head>
    <!-- Footer -->
    <footer class="footer text-center text-lg-start bg-success" th:fragment="footer_winkel">
        <!-- Copyright -->
        <div class="text-center p-2 text-light">
            © 2021 Copyright: (Dierenwinkel)
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</html>